// @use "./variable" as v;
.logo_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
    padding: 1.2rem 0;
    img{
        height: 52px;
    }
}

// 
.header_main{
    .navbar{
        background-color: $primay_color!important;
    }
    .nav-link{
    color: $white_color!important;
    padding: .5rem 1rem!important;
    }
}