$primay_color:#214492;
$secondary_color: #049304;
$primary_text:#000000;
$secondary_text:#5C739A;
$secondary_text2: #5A5A72;
$white_color:#ffffff;
$plainBg:#F0F9FA;
$title_strap_bg:#E0F3E8;
// 
$global_radius:14px;

